<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - TraceWatch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='js/hashPassword.js') }}" defer></script>
</head>
<body>
    <div class="login-container">
        <h1>TraceWatch</h1>
        <p>Dashboard</p>
        <form method="POST" onsubmit="hashPassword(event)">
            {% if error %}
            <div class="error">{{ error }}</div>
            {% endif %}
            <div class="input-field">
                <input type="password" id="password" required placeholder="Enter Password">
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>

