<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/statistics.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/confirmDatabaseClear.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/statistics.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <!-- Buttons -->
        <div class="button-container">
            <button class="button button-refresh" onclick="location.reload()">Refresh</button>
            <button class="button button-refresh" id="generate-url">Generate URL</button>
            <button class="button button-clear" onclick="confirmClearDatabase()">Clear Database</button>
        </div>

<!-- Custom URL Generation Section -->
<div class="custom-url-container">
        <div class="input-container">
            <div class="input-wrapper">
                <input type="text" id="custom-route" placeholder="Enter your route here">
            </div>

            <div class="input-wrapper">
                <select id="file-extension">
                    <option value="">-- None --</option>
                    <option value=".html">.html</option>
                    <option value=".htm">.htm</option>
                    <option value=".json">.json</option>
                    <option value=".xml">.xml</option>
                    <option value=".txt">.txt</option>
                    <option value=".csv">.csv</option>
                    <option value=".jpg">.jpg</option>
                    <option value=".jpeg">.jpeg</option>
                    <option value=".png">.png</option>
                    <option value=".gif">.gif</option>
                    <option value=".bmp">.bmp</option>
                    <option value=".pdf">.pdf</option>
                    <option value=".doc">.doc</option>
                    <option value=".docx">.docx</option>
                    <option value=".ppt">.ppt</option>
                    <option value=".pptx">.pptx</option>
                    <option value=".xls">.xls</option>
                    <option value=".xlsx">.xlsx</option>
                    <option value=".zip">.zip</option>
                    <option value=".rar">.rar</option>
                    <option value=".tar">.tar</option>
                    <option value=".gz">.gz</option>
                    <option value=".7z">.7z</option>
                    <option value=".svg">.svg</option>
                    <option value=".css">.css</option>
                    <option value=".js">.js</option>
                    <option value=".md">.md</option>
                    <option value=".rss">.rss</option>
                    <option value=".webp">.webp</option>
                    <option value=".ico">.ico</option>
                    <option value=".woff">.woff</option>
                    <option value=".woff2">.woff2</option>
                    <option value=".eot">.eot</option>
                </select>

            </div>
        </div>

        <div id="generated-url" style="display: none;">
            <span id="url-text"></span>
            <button class="copy-button" id="copy-url">Copy</button>
        </div>
    </div>

        <!-- Data Charts -->
        <div class="chart-container">
            <div class="chart">
                <canvas id="userChart"></canvas>
            </div>
            <div class="chart">
                <canvas id="ispChart"></canvas>
            </div>
            <div class="chart">
                <canvas id="deviceChart"></canvas>
            </div>
            <div class="chart">
                <canvas id="browserChart"></canvas>
            </div>
            <div class="chart">
                <canvas id="installedPluginsChart"></canvas>
            </div>
            <div class="chart">
                <canvas id="timeOnPageChart"></canvas>
            </div>
        </div>

        <!-- Table -->
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Location</th>
                        <th>Public IP</th>
                        <th>ISP</th>
                        <th>User Agent</th>
                        <th>Cookies Enabled</th>
                        <th>Do Not Track</th>
                        <th>Browser Name</th>
                        <th>Referrer</th>
                        <th>Device Type</th>
                        <th>Installed Plugins</th>
                        <th>Available Fonts</th>
                        <th>Screen Orientation</th>
                        <th>Audio Capabilities</th>
                        <th>Touch Support</th>
                        <th>Session Storage Supported</th>
                        <th>Is DST</th>
                        <th>Features Supported</th>
                        <th>Device Memory</th>
                        <th>Battery Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_info %}
                    <tr>
                        <td data-label="Timestamp">{{ user.timestamp }}</td>
                        <td data-label="Latitude">{{ user.latitude }}</td>
                        <td data-label="Longitude">{{ user.longitude }}</td>
                        <td data-label="Location">{{ user.country_code }} {{ user.city }} {{ user.region }} {{ user.zip_code }}</td>
                        <td data-label="Public IP">{{ user.public_ip }}</td>
                        <td data-label="ISP">{{ user.isp }}</td>
                        <td data-label="User Agent">{{ user.user_agent }}</td>
                        <td data-label="Cookies Enabled">{{ user.cookies_enabled }}</td>
                        <td data-label="Do Not Track">{{ user.do_not_track }}</td>
                        <td data-label="Browser Name">{{ user.browser_name }} {{ user.browser_version }}</td>
                        <td data-label="Referrer">{{ user.referrer }}</td>
                        <td data-label="Device Type">{{ user.device_type }}</td>
                        <td data-label="Installed Plugins">{{ user.installed_plugins }}</td>
                        <td data-label="Available Fonts">{{ user.available_fonts }}</td>
                        <td data-label="Screen Orientation">{{ user.screen_orientation }}</td>
                        <td data-label="Audio Capabilities">{{ user.audio_capabilities }}</td>
                        <td data-label="Touch Support">{{ 'Yes' if user.touch_support == '1' else 'No' }}</td>
                        <td data-label="Session Storage Supported">{{ 'yes' if user.session_storage_supported == '1' else 'No' }}</td>
                        <td data-label="Is DST">{{ 'yes' if user.is_dst == '1' else 'No' }}</td>
                        <td data-label="Features Supported">{{ user.features_supported }}</td>
                        <td data-label="Device Memory">{{ user.device_memory }}</td>
                        <td data-label="Battery Status">{{ 'Charging' if user.battery_status == '1' else 'Not charging' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br>

        <!-- Map -->
        <div id="map"></div>

    </div>

    <script>
        // User data to place markers on the map
        var userInfo = [
            {% for user in user_info %}
            {
                "latitude": {{ user.latitude }},
                "longitude": {{ user.longitude }},
                "public_ip": "{{ user.public_ip }}",
                "timezone": "{{ user.timezone }}",
                "platform": "{{ user.platform }}",
                "isp": "{{ user.isp }}",
                "device_type": "{{ user.device_type }}",
                "browser_name": "{{ user.browser_name }}",
                "browser_version": "{{ user.browser_version }}",
                "time_on_page": {{ user.time_on_page }},
                "city": "{{ user.city }}",
                "gpu": "{{ user.webgl_fingerprint }}",
                "screen_size" : "{{ user.screen_height }}x{{ user.screen_width }}",
                "cpu": {{ user.hardware_concurrency }},
                "platform": "{{ user.platform }}",
                "language": "{{ user.language }}",
                "timezone_offset": "{{ user.timezone_offset }}",
                "window_size": "{{ user.viewport_height }}x{{ user.viewport_width }}",
                "installed_plugins": "{{ user.installed_plugins }}"
            },
            {% endfor %}
        ];

    </script>
</body>
</html>
